/* ==== CSS Reset ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
}

main {
    max-width: 900px;
    margin: 0 auto;
}
section {
    margin-bottom: 50px;
 }

section h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
 }

p {
    margin-bottom: 10px;
 }

ul {
    margin-left: 20px;
    margin-top: 10px;
 }

li {
    margin-bottom: 6px;
 }


